.turnDeviceNotification {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: none;

	background-color: #212121;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/* TODO: add an overlay animation where when you click on any button, it shows the black screen (0.25s fade in/out anim time) for nicer UX. */