html,
body {
	height: 100% !important;
	width: 100% !important;
	overflow-x: hidden !important;
	overflow-y: visible !important;
	background-color: black;
}

body {
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.5)), url('/media/Mad-Jack-s-Interior-with-TVs_6B4AD80B-5056-A36F-233C860925E98C0C-6b4ad7745056a36_6b4ad86d-5056-a36f-23078ba42eb6533e-min.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	overflow-x: hidden;
}

:root {
	--fifty-color: #141414;
	--thirty-color: #C2F05D;
	--ten-color: white;
	--loading-body-color: black;
	--body-color: #080808;

	--cocktails-text-color: #FFDB28;
	--beers-text-color: #FF9328;
}

/* Upper Half Styling*/

:is(.title) {
	position: absolute;
	left: 7.5%;
	top: 3.5%;

	-webkit-animation: glow_cocktails 0.75s ease-in-out infinite alternate;
	-moz-animation: glow_cocktails 0.75s ease-in-out infinite alternate;
	animation: glow_cocktails 0.75s ease-in-out infinite alternate;

	color: var(--cocktails-text-color);
	font-family: "main";
	font-size: clamp(2.5rem, 8vw, 3.5rem);
	font-weight: 500;
	text-transform: uppercase;
}

:is(.title.title-rotate) {
	top: 1.5%;
	font-size: clamp(2rem, 8vh, 3rem);
}

:is(.break) {
	position: absolute;
	left: 7.5%;
	top: 25%;

	background-color: var(--thirty-color);

	width: 75px;
	height: 6.5px;
}

:is(.subtitle) {
	position: absolute;
	left: 7.5%;
	top: 13.5%;

	-webkit-animation: glow_beers 0.75s ease-in-out infinite alternate;
	-moz-animation: glow_beers 0.75s ease-in-out infinite alternate;
	animation: glow_beers 0.75s ease-in-out infinite alternate;

	color: var(--beers-text-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: clamp(1.5rem, 5vw, 2rem);
	font-weight: 600;
	text-transform: uppercase;
}

:is(.subtitle.subtitle-rotate) {
	top: 15.5%;
	font-size: clamp(0.5rem, 5vh, 1rem);
}

:is(.phone_vector) {
	position: absolute;
	left: 7.5%;
	top: 30%;

	width: 25px;
	height: auto;
}

:is(.phone_number) {
	position: absolute;
	left: 17.5%;
	top: 30%;

	color: var(--ten-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.95em;
	font-weight: 500;
	text-decoration: none;
}

:is(.globe_vector) {
	position: absolute;
	left: 7.5%;
	top: 35%;

	width: 25px;
	height: auto;
}

:is(.website_link) {
	position: absolute;
	left: 17.5%;
	top: 35.5%;

	color: var(--ten-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.95em;
	font-weight: 500;
	text-decoration: none;
}



/* Lower Half Styling */

:is(.container) {
	position: absolute;
	left: 50%;
	top: 55%;
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: 60vh;

	/*border: var(--ten-color) solid 1px;
	border-radius: 10px;*/

	transform: translate(-50%, -60%);
	
	& > :is(.product-image) {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 85%;

		pointer-events: none;
		transform: translate(-50%, -50%);
	}
}

:is(.product-description) {
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: clamp(1.5rem, 5vw, 2rem);
	text-align: left;

	width: 90%;
	position: absolute;
	left: 55%;
	top: 85%;
	transform: translate(-50%, -50%);
}

:is(.view-liquors) {
	display: none;
	color: var(--thirty-color);
	font-family: "main";
	font-size: clamp(0.5rem, 5vw, 1rem);
	font-weight: 300;
	text-align: left;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: pointer;

	-webkit-animation: glow 0.75s ease-in-out infinite alternate;
	-moz-animation: glow 0.75s ease-in-out infinite alternate;
	animation: glow 0.75s ease-in-out infinite alternate;

	width: 90%;
	position: absolute;
	left: 55%;
	top: 95%;
	transform: translate(-50%, -50%);
}

/* Animations */

@keyframes glow {
	from {
		text-shadow: 0 0 1.5px rgba(194, 240, 93, 0.6), 0 0 3px rgba(194, 240, 93, 0.6), 0 0 6px rgba(194, 240, 93, 0.6);
	}

	to {
		text-shadow: 0 0 3px rgba(194, 240, 93, 0.6), 0 0 6px rgba(194, 240, 93, 0.6), 0 0 12px rgba(194, 240, 93, 0.6);
	}
}

@keyframes glow_cocktails {
	from {
		text-shadow: 0 0 1.5px rgba(255, 219, 40, 0.6), 0 0 3px rgba(255, 219, 40, 0.6), 0 0 6px rgba(255, 219, 40, 0.6);
	}

	to {
		text-shadow: 0 0 3px rgba(255, 219, 40, 0.6), 0 0 6px rgba(255, 219, 40, 0.6), 0 0 12px rgba(255, 219, 40, 0.6);
	}
}

@keyframes glow_beers {
	from {
		text-shadow: 0 0 1.5px rgba(255, 147, 40, 0.6), 0 0 3px rgba(255, 147, 40, 0.6), 0 0 6px rgba(255, 147, 40, 0.6);
	}

	to {
		text-shadow: 0 0 3px rgba(255, 147, 40, 0.6), 0 0 6px rgba(255, 147, 40, 0.6), 0 0 12px rgba(255, 147, 40, 0.6);
	}
}

/* FONT FACES */

@font-face {
	font-family: "main";
	src: url("/drinkmenu/font_data/main.woff2"),
		url("/drinkmenu/font_data/main.woff");
}